* {
    color: white;
}
window {
    background: black;
}
image {
    margin: 0;
    padding: 0;
    padding: 10px;
}
button {
    margin-right: 3em;
    padding: 0;
    background: image(transparent);
    border: none;
    border-radius: 100%;
}
button:focus {
    outline: none;
}
#poweroff {
    margin-left: 2.8em;
}

#poweroff:hover, #poweroff:focus {
    background: image(red);
}
#suspend:hover, #suspend:focus {
    background: image(blue);
}
#reboot:hover, #reboot:focus {
    background: image(green);
}
#logout:hover, #logout:focus {
    background: image(#720cad);
}
